// Colors
$blue-squirrel: #2F94DB !default;
$purple: $blue-squirrel !default;

// Logo
$use-logo: true !default;
$use-retina-logo: true !default;
$logo-image-width: 60px !default;
$logo-image-height: 45px !default;
